extends layout

block content
	div.container
		div.row#about-me
			div.col-md-4
				img(src="/images/main.jpg").profile-photo
				
			div.col-md-8
				h4= "What's up dude? My name is Bryden."
				p= "I am an engineering physics student from the university of British Columbia and I live off of coffee. Engineering Physics is the \"jack of all trades\" engineering; its a solid mix of electrical and mechanical engineering as well as honours physics and almost a minor in math. What can you say, we Fizzers love to toture ourselves."
				p= "The reason I choose enegineering physics was because I really wanted to make an impact in the world around me. With my vast background, I plan to use my skills to develop the technologies of the future."
				p= "In my spare time I've taught myself web development as I really want to make a scene in the start-up world. In my struggle to deal with javascript, html and css, I built this website from scratch (well, I cheated and used bootstrap). To make things more interesting, I decided to create my own backend and a microblog."
				div
					button(id="resume-btn" href="#" ).btn.btn-default.inline-block Resume
		div.row#projects
			hr
			h3.text-center= "Projects"
			div.col-md-6
				div
					img(src="/images/halp.jpg").block-photo
			div.col-md-6
			
		div.row#microblog
			hr
			h3.text-center= "Microblog"
			each item, i in posts
				div.col-md-6.text-center
					a(href="#")
						h2= item.title
					p= item.content
					//- button(id="show-comment").btn.btn-default Show Comments
					//- form(method="post" action="/new_comment" class="comment-form")
					//- 	legend Comments
					//- 	div.form-group
					//- 		label(for="name") Name
					//- 		input(type="text" name="name" id="name-field" placeholder="Your screen name ...").form-control
					//- 	div.form-group
					//- 		label(for="comment-field") Comment
					//- 		textarea(type="text" name="comment" id="comment-field" placeholder="type your comment here ...").form-control
					//- 	div.form-group
					//- 		button(type="sumbit" id="post-comment").btn.btn-default Post Comment
		div.row#contact
			hr
			h3.text-center= "Contact"
			div.col-md-12
				button(id="contact").btn.btn-default.center-block Contact Me
				
